@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background: #091921;
}


#calculator {
    position: relative;
}

#result {
    display:flex;
    flex-direction: column;
    height: 20vh;
    padding: 0 1rem;
    background: #fff;
    text-align: right;
}

#operation-history {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1rem;
    flex: 1;
}

#history-value {
    color: #7f8c8d;
}

#operation-result {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 2.5rem;
    flex: 1;
}

#keyboard {
    display: grid;
    grid-template-columns: repeat(4, 10vw);
    grid-template-rows: repeat(5, 10vh);
}

.number, .operator {
    width: 1fr;
    height: 1fr;
    cursor: pointer;
    color: #fff;
    background-color: #061e29;
    border: 1px solid rgba(0,0,0,0.1);
    outline: 0;
}

.number {   
    font-size: 1.3rem;
}

.operator {
    font-size: 1.5rem;
}

.number:active, .operator:active {
    font-size: 1rem;
    background: #2ecc71;
    color: #111;
}

#\+ {
    grid-row: span 2;
}

#clear {
    background: #fc427b;
}

#\= {
    background-color: #546de5;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    html {
        font-size: 150%;
    }


    #result {
        height: 25vh;
    }


    #keyboard {
        grid-template-columns: repeat(4, 25vw);
        grid-template-rows: repeat(5, 15vh);
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    html {
        font-size: 80%;
    }

    #result {
        height: 25vh;
    }


    #keyboard {
        grid-template-columns: repeat(4, 25vw);
        grid-template-rows: repeat(5, 15vh);
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    html {
        font-size: 120%;
    }

    #result {
        height: 25vh;
    }


    #keyboard {
        grid-template-columns: repeat(4, 25vw);
        grid-template-rows: repeat(5, 15vh);
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    html {
        font-size: 120%;
    }

    #result {
        height: 20vh;
    }


    #keyboard {
        grid-template-columns: repeat(4, 15vw);
        grid-template-rows: repeat(5, 11vh);
    }
}

/* 4K screen */
@media only screen and (min-width: 3840px) {
    html {
        font-size: 170%;
    }

    #result {
        height: 20vh;
    }

    #keyboard {
        grid-template-columns: repeat(4, 15vw);
        grid-template-rows: repeat(5, 11vh);
    }
}